//Color
$basegrey: rgb(119, 119, 134)
$basegreenbright: #dfebd6
$basegreendark: rgb(21, 109, 25)
$basemidtone: rgba(182, 174, 148, 0.932)
$sectioncol: rgba(16, 34, 25, 0.842)

$basepad: 15px
$basemar: 10px

$grey1: #757575
$grey2: #c2c2c2
$black1: #131212
$white1: #f0eaea

$base: #4f4a5f
$nav-col: #272530
$sidebar-col: #272530
$post-col: #85768f