
@import 'variables'
@import 'header'
@import 'footer'

body
    background-color: $basegreenbright

article
    height: 100vh
    padding: $basepad
    margin: $basemar
    background-color: $basemidtone
    header
        text-align: center

section
    background-color: $sectioncol
    padding: $basepad

#galery
    padding: 0
    background-color: $basegrey

.row 
    display: flex
    flex-wrap: wrap
    padding: 0 4px


.column 
    flex: 25%
    max-width: 24%
    padding: 0 4px


.column img 
    margin-top: 8px
    vertical-align: middle
    width: 100%

aside
    margin-bottom: 3rem