
@import 'variables'
@import 'mixins'
@import 'header'
@import 'footer'
@import 'tablestyle'
@import 'sidebar'


    
body
    background-color: #24181822
article
    @include textFormat(20px)
    @include roundup
    height: 40vh
    padding: $basepad
    margin: auto
    background-color: $basemidtone
    width: 80%

    header
        text-align: center
        box-shadow: 5px 10px $basegrey
        background-color: $basegreenbright

.full
    width: inherit

section
    background-color: $sectioncol
    padding: $basepad
    @include textFormat(15px)
    height: 100vh

#galery
    padding-bottom: 4px
    background-color: $basegrey

.row 
    display: flex
    flex-wrap: wrap
    padding: 0 4px


.column 
    flex: 25%
    max-width: 24%
    padding: 0 4px


.column img 
    margin-top: 8px
    vertical-align: middle
    width: 100%

aside
    margin-bottom: 3rem
    @include textFormat(10px)

.subject, .post
    width: 100%
    margin: 10px
    padding: $basepad
    background-color: $grey2
