header nav ul {
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #777786;
}

header nav ul li {
  float: right;
}

header nav ul li a {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 25px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

header nav ul li a:hover {
  background-color: rgba(182, 174, 148, 0.932);
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;
  padding: 15px;
  position: fixed;
}

footer p {
  display: inline-block;
}

.darkTable {
  font-family: "Arial Black", Gadget, sans-serif;
  border: 2px solid #131212;
  background-color: #757575;
  width: 100%;
  height: 200px;
  text-align: center;
  border-collapse: collapse;
}

.darkTable td, .darkTable th {
  border: 1px solid #757575;
  padding: 3px 2px;
}

.darkTable tbody td {
  font-size: 13px;
  color: #f0eaea;
}

.darkTable tbody td a {
  display: block;
  color: white;
  text-decoration: none;
  position: relative;
}

.darkTable tbody td a::after {
  content: "";
  background: white;
  mix-blend-mode: exclusion;
  width: 100%;
  height: 0;
  position: absolute;
  bottom: -4px;
  left: 0;
  -webkit-transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transition: all 0.3s cubic-bezier(0.445, 0.05, 0.55, 0.95);
}

.darkTable tbody td a:hover::after {
  height: calc(100% + 5px);
}

.darkTable tr:nth-child(even) {
  background: #c2c2c2;
}

.darkTable thead {
  background: #131212;
  border-bottom: 3px solid #131212;
}

.darkTable thead th {
  font-size: 15px;
  font-weight: bold;
  color: #f0eaea;
  text-align: center;
  border-left: 2px solid #757575;
}

.darkTable thead th:first-child {
  border-left: none;
}

.darkTable tfoot {
  font-size: 12px;
  font-weight: bold;
  color: #f0eaea;
  background: #131212;
  background: -webkit-gradient(linear, left top, left bottom, from(#404040), color-stop(66%, #191919), to(#131212));
  background: linear-gradient(to bottom, #404040 0%, #191919 66%, #131212 100%);
  border-top: 1px solid #757575;
}

.darkTable tfoot td {
  font-size: 12px;
}

#header {
  font-size: 14px;
  width: 980px;
  margin: auto;
  margin-left: 270px;
  margin-top: 20px;
}

.sidebar {
  margin-top: 20px;
  width: 260px;
  height: calc(100vh - 55px);
  float: left;
  background-color: #272530;
  position: fixed;
  border: 2px solid black;
  display: block;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: 1;
}

.sidebar a:hover {
  cursor: pointer;
}

.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 0;
}

.openbtn {
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 13vh;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

.openbtn a:hover {
  cursor: pointer;
}

#manage {
  font-size: 25px;
  margin-left: 70px;
  color: white;
  margin-top: 10px;
  margin-bottom: 0;
  top: 0;
}

#sidebar li {
  list-style-type: none;
}

#sidebar-buttons img {
  margin-left: 8px;
  margin-right: 3px;
  height: 70px;
  width: 70px;
  margin-bottom: 10px;
}

#myBtn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  cursor: pointer;
  border-radius: 10px;
  background-color: transparent;
  border: none;
}

#posts {
  width: 700px;
  height: 1000px;
  background-color: #85768f;
  border: 7px solid white;
  margin: auto;
  margin-top: 35px;
}

body {
  background-color: #24181822;
}

article {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 25px;
  border: 1px solid;
  border-radius: 5px;
  padding: 10px;
  height: 40vh;
  padding: 15px;
  margin: auto;
  background-color: rgba(182, 174, 148, 0.932);
  width: 80%;
}

article header {
  text-align: center;
  -webkit-box-shadow: 5px 10px #777786;
          box-shadow: 5px 10px #777786;
  background-color: #dfebd6;
}

.full {
  width: inherit;
}

section {
  background-color: rgba(16, 34, 25, 0.842);
  padding: 15px;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 20px;
  height: 100vh;
}

#galery {
  padding-bottom: 4px;
  background-color: #777786;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 4px;
}

.column {
  -webkit-box-flex: 25%;
      -ms-flex: 25%;
          flex: 25%;
  max-width: 24%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

aside {
  margin-bottom: 3rem;
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 15px;
}

.subject, .post {
  width: 100%;
  margin: 10px;
  padding: 15px;
  background-color: #c2c2c2;
}
/*# sourceMappingURL=classic.css.map */